@font-face {
    src: url(fonts/Gotham.otf);
    font-family:"Gotham rounded bold";
}

@font-face {
    src: url(fonts/light.otf);
    font-family:"Gotham rounded light";
}

@font-face{
    src: url(fonts/Gothammedium.otf);
    font-family: "Gotham rounded medium";
}


body{
    margin:0;
    padding:0;
    font-family:"Gotham rounded Bold";
    letter-spacing:0.2em;
    
}

header{
   width:1280px;
   max-width:100%;
   height:745px;
   background-image:url('Pictures/Livello 1.png');
   background-size:1280px 745px;
   display:flex;
   justify-content:center;
   align-items:center;
}

.header-container{
    max-width:639.82px;
    height:680px;
    /* border: 2px solid white; */
    color:white;

}

/* nav bar */

.nav-container{
    display:flex;
    width:639.82px;
    height:55px;
    /* border:2px solid tomato; */
}

.nav-left{
    /* border:1px solid #ffffff; */
    width:40%;
    display:flex;
    align-items:center; 
    justify-content:flex-start;
}

.nav-right{
    /* border:1px solid blue; */
    width:40%;
    display:flex;
    align-items:center;
    justify-content:flex-end;
}

nav span{
    text-transform: uppercase;
    font-size:8pt;
}
nav{
    cursor:pointer;
}
nav .photoapp{
    padding-left:68px;
}

nav .design{
    padding-right:68px;
}

.logo-image{
    margin: 0 auto;
    

}

/* nav bar ending */

.home-2{
    display:flex;
    height:600px;
    width:680px;
    /* border:2px solid red; */
    justify-content:center;
    align-items:center;
}

.content{
    width:354.31px;
    height:106.12;
    /* border:2px solid white; */
    text-align:center;
    line-height:0.5;
}

.content h1, button{
    text-transform:uppercase;
    font-size:18pt;
    letter-spacing: 0.2em;
}

.content p{
    font-size:8pt;
    padding-top:16px;
    padding-bottom:23px;
    text-align: center;
}

 button{
    width:166px;
    height:49px;
    background-color: #16a085;
    border:none;
    color:white;
    font-size:6pt;
    border-radius:3px;
}

.social-media{
    display:flex;
    justify-content:center; 
    /* margin-left:20px; */
    /* margin-bottom:26px; */
    
}

.social-media img{
   
    padding-inline-start: 16px; 

}

/** main **/

 .content-1{
    width:1280px;
    max-width: 100%;
    height:494px;
    background-color: #F5F6F7;
    display:flex;     
    
    /* position:absolute; */
}

.content-1 .heading{
    width:387.16px;
    height:42.5px;
    
}
.container-content-1{
    height:386.42px;
    width:512.59px;
    /* border:2px solid yellow;     */
   
    margin-left:128px;
    
}
.image-handPhone{
    /* border:1px solid gold; */
    width:500px;
    height:355px;
    margin-top:138px;
}

.represent{
    margin-bottom: 50px;
    margin-top:113px;
}
.heading h1{
    font-size:9pt;
    color: #16a085;
    line-height:1.4em;
    font-weight:700;
    letter-spacing: 0.2em;
    text-transform: uppercase;
   
}

.text-p{
    width:428px;
    height:108px;
    /* border:1px solid tomato; */
    margin-bottom:47px;
    
}

  p{
    font-size:6pt;
    line-height:2.4em;
    font-weight:700;
    text-align: left;
    font-family:"Gotham Rounded light";
}

.phone-section{
    height:558px;
    width:1280px;
    max-width:100%;
    /* border:1px solid black; */
    display:flex;
}

.image-phone{
    /* border:2px solid black; */
    width:294px;
    margin-left:116px;
    margin-top:143.5px;
    
}
.text-container-design{
    /* border:2px solid tomato; */
    height:409px;
    width:428px;
    margin-top:135px;
    margin-left:257px;
}
.hd{
    margin-bottom:45px;
}

.para{
    margin-bottom:58px;
}

.hd, .para{
    padding-inline-start: 20px;
}

.more{
    margin-bottom:20px;
}

.num-1{
    font-family:"Gotham Rounded light";
    font-size:6pt;
}

.bracket-img, .num-1{
    padding-inline-start:15px;
}



/* community part */

.community-container{
    display:flex;
    width:1280px;
    height:483px;
    max-width:100%;
    justify-content: center;
    align-items: center;
    /* justify-content: space-evenly; */
    background-color: #f5f6f7;
}

.community-text{
    /* border:2px solid salmon; */
    width:177px;
    height:200px;
}
.image-content{
    width: 764px;
    /* border:1px solid greenyellow; */
    margin-left:83px;
    display:flex;
}

.image-camera {
    display:flex;
    justify-content: center;
    margin-bottom: 31px;
}
.community h1{
    text-align: center;
    font-size:8pt;
    color:rgb(39, 37, 37);
    font-family:"Gotham Rounded bold";
}
.community{
    margin-bottom:25px;
}
.para-community{
    margin:0 auto;
    width:139px;
    height:34px;
    /* border:2px solid yellow; */
}
.para-community p{
    font-size:5pt;
    text-align:center;
    font-size: "Gotham rounded medium";
    line-height:0.9em;
    letter-spacing:0.3em;
    color:black;
}
.car-image{
    margin-right:24px;
}
.bracket-imge{
    /* border:2px solid salmon; */
    position:relative;
    bottom:29%;
    left:80%;
}


.subscribe-container{
    width:1280px;
    height:790px;
    max-width:100%;
    background-image: url(Pictures/Livello\ 3.png);
    background-size: 1280px 790px;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

.subscribe h1{
    font-size:20px;
    font-family: "Gotham Rounded bold";
    color:white;
    margin-bottom:35px;
}
.email{
    display:flex;
    width:242px;
    height:38px;
}

.email input{
    height:36px;
    width:200px;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    border:none;
    outline:none;
}

::placeholder{
    color:rgb(58, 57, 57);
    padding-left: 20px;
    font-family: "Gotham rounded medium";
    text-transform: uppercase;
}

.check{
    display:flex;
    justify-content: center;
    align-items:center;
    background-color: #16a085;
    width:38px;
    height:38px;
    border-bottom-right-radius:2px;
    border-top-right-radius:2px;
}



.download-container{
    width:1280px;
    height:396px;
    background-color: #F5F6F7;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}

.store-container{
    /* border:2px solid tomato; */
    width:877px;
    height:100px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.download h1{
    color:rgb(70, 67, 67);
    font-family: "Gotham rounded bold";
    font-size:16px;
}
.para-lorem{
    max-width:80%;
    margin:0 auto;
    margin-bottom:25px;

}
.para-lorem{
    text-align: center;
    text-transform: uppercase;
    font-family: "Gotham rounded medium";
}
.button-store{
 display:flex;
 justify-content: center;
 align-items: center;
}
.button-apple, .button-andriod{
    background-color: #1abc9c;
    height:35px;
    font-family: "Gotham rounded bold";
    text-transform: uppercase;
    font-size:12px;
    letter-spacing: 0.2em;
    
}
.button-apple{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.button-andriod{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.apple-logo, .android-logo{
    background-color: #16a085;
    width: 35px;
    height:35px;
    display:flex;
    justify-content: center;
    align-items:center;
}

.apple-logo{
    margin-right:26px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.android-logo{
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

    /**** footer ****/

footer{
    width:1280px;
    height:131px;
    display:flex;
    align-items: center;
}

.footer-text ul{
    display:flex;
    list-style-type: none;  
    /* border:1px solid black; */
}
.footer-text ul li{
    padding:10px;
    text-transform:uppercase;
    font-family: "Gotham rounded bold";
    font-size:10px;
    color:rgb(70, 67, 67);
}
.copyright p{
    font-family: "Gotham rounded bold";
    font-size:10px;
    color:rgb(70, 67, 67);
    padding-left:49px
}
.credit{
    display:flex;
    align-items: center;
    color:#16a085;
}
.image-camera-green{
    position:relative;
    left:55%;
}